html{
    --primary-color:"#64FFDA";
    scroll-behavior: smooth;
 }
 ::-webkit-scrollbar-track
 {
   border-radius: 10px;
   background-color: #112240;
 }
 
::-webkit-scrollbar
 {
   width: 4px;
   background-color: #112240;
 }
 
 ::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   background-color: #64FFDA;
 }



html{
    font-size : 62.5%;
    font-family :  "work sans";
    scroll-behavior: smooth;
    scroll-timeline: 5s;
}
:root{
    --heading : rgba(245,245,245);
    --paragraph : #d1d0d0;
    --para-tint : #e4e4e4;
    --white : #fff;
    --helper : #8490ff;
    --helper-tint : #f3f4ff;
    --bg : #112240;
    --gradient : linear-gradient(0deg , rgba(132,144,255) 0% , rgb(98,189,252) 100%);
    --gradientSupport : -webkit-linear-gradient(deg , rgba(132,144,255) 0% , rgb(98,189,252) 100%);
}






.header .nav-page.hide-1{
    display: none;
   
}
.header .nav-page.hide-p{
    display: none;
   
}

li{

    list-style: none;
    list-style-type: none;
}
.header .nav-page .nav-container{
    /* border: 2px solid black; */
    width: 100%;
    margin-left: auto;
    /* background-color: #4c04f3; */
    padding-inline: 5rem;
}

.header .nav-page .nav-container .nav-item-list{
    width: 100%;
   display: flex;
   flex-direction: column;
   gap: 5rem;
   align-items: center;
   
}
.header .nav-page .nav-container .nav-item-list > li{
    font-size: 2.4rem;
    border: 1px solid rgba(0, 0, 0, 0.276);
    padding-inline: 2rem;
    padding-block: .5rem;
    border-radius: 5rem;
    /* color: var(--heading); */
    & a{
        color: black;
        font-weight: 600;
    }
 }

.grid-two--cols{
    display : grid;
    grid-template-columns: repeat(2,1fr);
    justify-content : center;
    align-content : center;
    gap: 5rem;
}
.button{
    width: 14rem;
    border: 1px solid rgba(0, 0, 0, 0.267);
    display : grid;
    place-items : center;
    font-size: 1.5rem;
    margin: 4rem 0;
    border-radius: .5rem;
    background: var(--gradient);
    position: relative;
    overflow: hidden;
    padding-block: 1.2rem;
    transition: all .25s linear;
    cursor: pointer;

    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: .5rem;
        left: 0;
        background-color: blueviolet;
        bottom: -120%;
        transition: all .25s linear;
        z-index: 1;
        
        
    }
    &:hover::after{
        bottom: 0;
    
    }

    &:hover{
        color: white;
        transform: scale(1.1);
        border : unset;
    }

    & a{
        text-transform: uppercase;
        font-weight: 600;
        z-index: 100;
    }
    
}
.common-heading{
    font-size: 4rem;
    padding-block: 1rem;
    font-weight: bold;
    position: relative;
    color: var(--heading);
}
.common-heading::before{
    position: absolute;
    content: "";
    width: 28%;
    border: 2px solid var(--helper);
    top: 110%;
}
.common-heading::after{
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    left: 0;
    background-color: var(--helper);
    top: 100%;
}
.common-para{
    font-size: 1.4rem;
    padding-block: 2rem;
    line-height: 1.6rem;
    color: var(--paragraph);
    padding-bottom: 2rem;   
    font-weight: 500;
}

a{
    text-decoration: none;
    color: var(--para-tint);
}
.hero-section{
    background-color: #FBF5FF;
    padding-inline: 2rem;
    width: 100%;
    position: relative;
    /* z-index: -10000; */
   
   
   
    
    & .section{
        max-width: 120rem;
        margin: 0 auto;  
        justify-items:center ;
        padding-top: 10rem;
    

       & .image{
            position: relative;
            animation: hero-anime 5s linear infinite;
            animation-delay: 1s;
            
            & .hero-image{
                width: 52rem;
                height: 52rem;
            
                & .image-box{
                    width : 100%;
                    height : 100%;
                    position: absolute;
                    background-color: rgb(168, 1, 229);
                    filter: blur(20px);
                    filter: blur(-1000px);
                    border-radius: 2rem;
                    overflow: hidden;
                    display : grid;
                    place-items : center;
                    animation: hero-2 1s linear;
                    border-radius: 24% 76% 23% 77% / 77% 18% 82% 23% ;
                    animation: water-anime 5s linear infinite;
                }
                & img{
                    position: absolute;
                    width: auto;
                    width: 44rem;
                    height: 44rem;
                    position: relative;
                    border-radius: 2rem;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50% , -50%);
                    /* animation: hero-2 1s linear; */
                }
                
            }
           
        }

        & .hero-details{
            padding-left: 2rem;
            display : flex;
            justify-content : center;
            flex-direction: column;
            animation: hero-1 1s linear;
            z-index: 0;
            position: relative;

            & .hero-main-heading{
                font-size: 1.6rem;
                padding-block: 1rem;
                text-transform: uppercase;
                font-weight: 400;
                
            }

            & .hero-sub-heading{
                font-size: 4rem;
                font-weight: 600;
                color: var(--heading);
             

                & b{
                    font-weight: 700;
                }

                & .type-writer{
                    color: brown;
                    position: relative;
                    transition: all .2s linear;
                    font-weight: 600;
                    /* padding-inline: 1rem; */

                    &::after{
                        position: absolute;
                        content: "";
                        width: 0rem;
                        height: 4rem;
                        border: 2px solid brown;
                        top: 0;
                        margin-inline: .5rem;
                        top: 50%;
                        transform: translateY(-50%);
                        

                    }
                }
            }
            & .hero-para{
                font-size: 1.4rem;
                padding-block: 2rem;
                line-height: 1.6rem;
                color: var(--paragraph);
                padding-bottom: 2rem;   
                font-weight: 500;
            }
        }
    }
}
/*** bio section */
.bio-data-section{
    width: 100%;
    padding-inline: 2rem;
    animation: bio 1s linear;

    & .bio-data{
        max-width: 140rem;
        margin: 0 auto;
        padding-block: 5rem;
        padding-inline: 4rem;
        

        & .bio-image-section{
            width: 90%;
            display : flex;
            justify-content : center;
            align-items : center;
            background-color: var(--helper);
            
            
            & img{
                position: relative;
                width: 100%;
                height: 100%;
                top: 1.5rem;
                left: 1.5rem;
            }
        }

        & .bio-data-details{
            & p{
                margin-top: 4rem;
            }
           & .bio-graph{
                padding-block: 2rem;

                & .common-bio{
                    & h3{
                        font-size: 1.6rem;
                        padding-block: .3rem;
                        color: #64FFDA;
                        font: 600;
                    }

                    & .range-show{
                        width: 100%;
                        height: .8rem;
                        /* border: 1px solid black; */
                        background-color: white;
                        border-radius: 2rem;
                        position: relative;
                        overflow: hidden;
                        transition: all .5s linear;

                        &::before{
                            position: absolute;
                            content: "";
                            width: 90%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            background: var(--gradient);
                            
                        }
                    }
                    & .html{
                        &::before{
                            animation: anime-html 1s linear;
                          
                        }
                    }

                    & .css{
                        &::before{
                            width: 85%;
                            animation: anime-css 1s linear;
                          
                        }
                    }
                    & .tailwind{
                        &::before{
                            width: 70%;
                            animation: anime-tailwind 1s linear;
                            
                        }
                    }
                    & .bootstrap{
                        &::before{
                            width: 40%;
                            animation: anime-bootstrap 1s linear;
                            
                        }
                    }
                    & .javascript{
                        &::before{
                            width: 75%;
                            animation: anime-javascript 1s linear;
                          
                        }
                    }
                    & .react{
                        &::before{
                            width: 65%;
                            animation: anime-react 1s linear;
                         
                        }
                    }

                    & .common-box{
                        width: 3rem;
                        height: 1.5rem;
                        position: relative;
                        background-color: var(--helper);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        left: 87%;
                        font-weight: 600;
                        margin-top: 1rem;
                        animation: anime-html-1 1s linear;
                       

                        &::after{
                            position: absolute;
                            content: "";
                            height: 1rem;
                            width: 1.5rem;
                            /* border: 2px solid black; */
                            top: -63%;
                            background-color: var(--helper);
                            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                            
                        }
                    }
                    & .css-box{
                        left: 82%;
                    }
                    & .tailwind-box{
                        left: 67%;
                    }
                    & .bootstarp-box{
                        left: 37%;
                    }
                    & .javascript-box{
                        left: 72%;
                    }
                    & .react-box{
                        left: 62%;
                    }
                }
            }
            & .button{
                margin: 0;
            }
        }
    }

}

.project-section{
    width: 100%;
    width: 100%;
    padding-inline: 2rem;
    min-height: 100vh;
    animation: project 1s linear;
    padding-block: 4rem;
    

    & .project-body{
        max-width: 120rem;
        margin: 0 auto;
        padding-inline: 2rem;
        & .heading-section{
            
            .common-heading::before{
                width: 15%;
            }
            .common-para{
                max-width: 60rem;
                margin-block: 3rem;
            }
        }
        & .comment-box{
            margin: 0 auto;
            border: 1px solid rgba(0, 0, 0, 0.228);
            max-width: 30rem;
            display : grid;
            place-items : center;
            padding-block: 1rem;
            font-size: 2.4rem;
            border-radius: 1rem;
            background-color: rgb(219, 214, 214);
            position: relative;
            z-index: 999999;

            &::before{
                position: absolute;
                content: "";
                width: 0rem;
                height: 27.5vh;
                border: 1px solid #CA448C;
                /* bottom: 0; */
                bottom: -355%;
                left: 51%;
                
            }
        }

    }
    

}

/* Now we design project-road map  */

.road-map-box {
    max-width: 132rem;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
}
.road-map-box .box{
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 5%;
}
.road-map-box .box .image-box{
    position: relative;
    width: 70%;
    padding-bottom: 1rem;
    align-self: center;
    & img{
        position: relative;
        width:100%;
        z-index: 100;
        border-radius: 1rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        overflow: hidden;
        
    }
 }

 .road-map-box .box .image-box .img-box{
    position: relative;
    overflow: hidden;
    &::before{
        position: absolute;
        content: "Project-1";
        width: 100%;
        height: 100%;
     
        z-index: 1000;
        display : grid;
        place-items : center;
        font-size: 4rem;
        font-weight: 700;
        bottom: -100%;
        color: var(--heading);
        border-radius: 1rem;
        transition: all .25s linear;
    }
    &:hover::before{
        bottom: 0;
    }
 } 
 .road-map-box .box .image-box .img-1{
    &::before{
        content: "Project-1";
        background: linear-gradient(45deg ,rgba(132, 144, 255, 0.708) ,  rgba(98, 188, 252, 0.712));
    }
 }
 .road-map-box .box .image-box .img-2{
    &::before{
        content: "Project-2";
        background-color: rgba(237, 245, 0, 0.502);
    }
 }
 .road-map-box .box .image-box .img-3{
    &::before{
        content: "Project-3";
        background: linear-gradient(45deg ,rgba(132, 144, 255, 0.708) ,  rgba(98, 188, 252, 0.712));
    }
 } 
 .road-map-box .box .image-box .img-4{
    &::before{
        content: "Project-4";
        background: linear-gradient(45deg ,rgba(132, 144, 255, 0.708) ,  rgba(98, 188, 252, 0.712));
        
    }
 } 
 .road-map-box .box .image-box .img-5{
    &::before{
        content: "Project-5 ";
        background-color: #04f33877;
        
    }
 } 

 .road-map-box .box:nth-child(odd) .image-box > h1{
    position: absolute;
    width: 80%;
    height: 0vw;
    border: 1px solid var(--paragraph);
    top: 40%;
    right: -50%;
 } 
 .road-map-box .box .image-box:nth-child(odd) > h1::after{
    position: absolute;
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    right: -3.6%;
    background-color: #112240;
    transform: translateY(-50%);
 } 
 .road-map-box .box:nth-child(odd) .image-box > h1::before{
    position: absolute;
    content: "";
    height: 63.5vh;
    border: 1px solid #CA448C;
    right: -2%;
    transform: translateY(1.4%);
    
 } 
 .road-map-box .box:nth-last-child(1) .image-box > h1:before{
    height: 29.8vh; 
 } 
 
 @media (width<=1400px) {
    .road-map-box .box:nth-last-child(1) .image-box > h1:before{
        height: 31vh; 
     } 
 }
 .road-map-box .box .text-box{
   max-width: 100%;
   padding: 4rem;
 }
.road-map-box .box .text-box > h1{
    text-align: left;
    font-size: 3.4rem;
    margin: 0;
    padding: 0;
    color: #FC815C;
}
.road-map-box .box .text-box p {
    margin: 0;
    padding: 0;
    padding-block: 1rem;
    
}
.road-map-box .box .text-box p span{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 1.8rem;
    font-weight: 400;
    color: #F48C6C;
}
.road-map-box .box .text-box p {
   color: var(--paragraph);
   font-size: 1.6rem;
}
.road-map-box .box .text-box .button-box {
    display: flex;
    flex-wrap: wrap;
    color: var(--paragraph);
    gap: 1rem;
    margin-top: 2rem;
 }
 .road-map-box .box .text-box .button-box .btn{

  
    padding-block: .2rem;
    padding-inline : 1rem;
    color: var(--paragraph);
    border: 1px solid rgba(202, 199, 199, 0.833);
    border-radius: 4rem;
    font-size: 1.5rem;
 }

 .road-map-box .box:nth-child(even) .image-box{
    margin-left: auto;
   
 }
 .road-map-box .box:nth-child(even) .image-box .info{
    position: absolute;
    width: 100%;
    height: 85%;
    background-color: rgba(0, 0, 255, 0.249);
    /* top: 100%; */
    bottom: 11%;
    z-index: 100;
    margin-left: auto;
 } 
 .road-map-box .box:nth-child(even) .image-box > h1{
    position: absolute;
    width: 65%;
    height: 0vw;
    border: 1px solid rgba(7, 7, 7, 0.395);
    top: 40%;
    left: -49%;

 } 
 .road-map-box .box .image-box:nth-child(even) > h1::after{
    position: absolute;
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    left: -3.5%;
    background-color: #112240;
    transform: translateY(-50%);
 } 
 .road-map-box .box:nth-child(even) .image-box > h1::before{
    position: absolute;
    content: "";
    height: 63.5vh;
    border: 1px solid #CA448C;
    left: -1.5%;
    transform: translateY(1.8%);
    
 } 
 .road-map-box .box:nth-child(1) .image-box > h1{
    border: 1px solid rgb(240, 6, 201);
 } 
 .road-map-box .box:nth-child(1) .image-box > h1::after{
    border: 3px solid #FC815C;
 } 
 .road-map-box .box:nth-child(2) .image-box > h1{
    border: 1px solid rgb(6, 170, 240);
 } 
 .road-map-box .box:nth-child(2) .image-box > h1::after{
    border: 3px solid #beec08;
 } 
 .road-map-box .box:nth-child(3) .image-box > h1{
    border: 1px solid rgb(6, 240, 68);
 } 
 .road-map-box .box:nth-child(3) .image-box > h1::after{
    border: 3px solid #4c04f3;
 } 
 .road-map-box .box:nth-child(4) .image-box > h1{
    border: 1px solid rgb(179, 8, 231);
 } 
 .road-map-box .box:nth-child(4) .image-box > h1::after{
    border: 3px solid #06f1d2;
 } 
 .road-map-box .box:nth-child(5) .image-box > h1{
    border: 1px solid rgb(244, 240, 10);
 } 
 .road-map-box .box:nth-child(5) .image-box > h1::after{
    border: 3px solid #09a963;
 } 
 .road-map-box .box:nth-child(6) .image-box > h1{
    border: 1px solid rgb(2, 29, 178);
    /* z-index: -100; */
 } 
 .road-map-box .box:nth-child(6) .image-box > h1::after{
    border: 3px solid #fc1303;
 } 
 .road-map-box .box:nth-child(7) .image-box > h1{
    border: 1px solid rgb(196, 119, 219);
 } 
 .road-map-box .box:nth-child(7) .image-box > h1::after{
    border: 3px solid #0aa488;
 } 


 /* Now we design response section  */
 .response{
    width: 100%;
    height: 25vh;
    background: var(--gradient);
    & .num-box{
        max-width: 120rem;
        height:100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-inline: 2rem;
        
        & .box-1{
             display: flex;
             flex-direction: column;
             gap: .5rem;
             align-items: center;
            & h1{
                font-size: 4rem;
                color: white;
                font-weight: 700;
            }

            & p{
                color: var(--para-tint);
                font-size: 1.4rem;
                font-weight: 400;
            }
        }
    }

 }

 /* Now we design services Offer Section */ 
 .grid-three-cols{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
  
 }
 .service-section{
    width: 100%;
    background-color: var(--bg);
    padding-inline: 2rem;


    & .service-body{
        max-width: 120rem;
        margin: 0 auto;
        padding-block: 5rem;
        padding-inline: 2rem;

        & .heading-box{
            max-width: 60rem;

            & h1{

                &::before{
                    width: 30%;
                }
            }
            & p{
                color: var(--paragraph);
                font-size: 1.6rem;
                padding-top: 4rem;
                font-weight: 400;
            }
        }

        & .service-box-container{
            width: 100%;
            padding-top: 6rem;
            padding-inline: 2rem;

        & .service-box{
           
           gap: 6rem;
           
           & .box{
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border-radius: 1rem;
                transition: all .2s linear;
                padding: 1rem;
                &:hover , &:active{
                    transform: translateY(-5%);
                }
           
            & .icon-box{
                width: 9rem;
                height: 9rem;
                font-size: 4.5rem;
                padding-block: 2rem;
                margin: 0 auto;
                display: grid;
                place-content: center;
                background-color: #90acd133;
                border-radius : 30% 70% 70% 30% / 30% 30% 70% 70% ;
                animation: water-anime 5s linear infinite;   
                position: relative;
                overflow: hidden;
                
                   &::before{
                        position: absolute;
                        content: "";
                        width: 90%;
                        height: 90%;
                        border: 1px solid black;
                        background-color: black;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50% , -50%);
                        /* border-radius: 50%; */
                        background: transparent;
                        border-radius : 30% 70% 70% 30% / 30% 30% 70% 70% ;
                        animation: water-anime 5s linear infinite;
                        /* z-index: -1; */
                    }
            }
            & .text-box{
                margin-top: 2rem;
                text-align: center;
               & .box-heading{
                    font-size: 2.4rem;
                    color: var(--heading);
                    margin: 0;
                    padding: 0;
                }

                & p{
                    font-size: 1.4rem;
                    color: var(--paragraph);
                    font-weight: 500;
                    padding-block: 1.5rem;
                }
            }
        }
    }
 }
}
 }

 /* Now we design tetonomial section */

 .testonomial-section{
    width : 100%;
    min-height : 60vh;
    background-color: var(--bg);
    padding-bottom: 5rem;
    padding-inline: 2rem;

    & .testonomial-body{
        max-width : 120rem;
        height : 100%;
        margin: 0 auto;
        padding-inline: 2rem;

        & .heading-section{
            padding-top: 8rem;

            & h1::before{
                width: 15%;
            }
        }

        & .swiper-content{
            width: 100%;
            margin-top: 10rem;
        }

    }
 }


 swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }

  .swiper-slide  {
    max-width: 50%;
    min-height: 30vh;
    padding: 1rem;
    background-color: var(--bg);
    /* border: 2px solid black; */

  }
  .swiper-slide  .text-section{
    min-width: 100%;
   

  }
  .swiper-slide .text-section p{
    width: 100%;
    position: relative;
    font-size: 1.6rem;
    color: var(--paragraph);
    padding: 5.5rem;
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
  }
  .swiper-slide .text-section p::before{
    position: absolute;
    content: '\f10d';
    font-size: 4rem;
    top: 15%;
    left: 2%;
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    color: #8590ec9c;

  }
  .swiper-slide .text-section p::after{
    position: absolute;
    content: '\f10e';
    font-size: 4rem;
    bottom: 10%;
    right: 5%;
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    color: #8590ec9c;
  }
  .swiper-slide .image-section{
    padding-block: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    
    gap: 2rem;
    & img{
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        border: 4px solid var(--helper);
        border-radius: 50%;
    }
  }

/* Now we design the paralax effect and freelancing sections */

.freelancing-section {
    position: relative;
    width: 100%;
    min-height: 45vh;
    background-image: url(https://miro.medium.com/v2/resize:fit:1400/1*rHCSZ-AlFlT5XhvmB8Zswg.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    
}
.freelancing-section .overlay-section{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #395ad094;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.freelancing-section .freelancing-text{
    text-align: center;
    & h1{
        text-align: cenetr;
        color: white;
        font-size: 4.5rem;
        font-weight: 700;
        padding-block: 5rem 3rem;

        & span{
            color: #A0F877;
        }
    }
    & p{
        font-size: 1.6rem;
        padding-block: 0rem;
        color: var(--para-tint);
        }
       
    & .button{
        margin: 2rem auto;
        }
    
}

/* Now we design contact section */

.contact-section{
    width: 100%;
    min-height: 80vh;
    background-color: var(--bg);
    padding-bottom: 20rem;
    position: relative;
    padding-inline: 2rem;
}
  
.contact-section .contact-body{
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    padding-block: 5rem;
    padding-inline: 2rem;
}
.contact-section .contact-body .heading-section{
    padding-block: 2rem;
    
    & .common-heading::before{
        width: 15%;
    }
}

.contact-section .contact-body .main-form{
    max-width: 80rem;
    margin: 2rem auto;
    /* border: 2px solid black; */
}
.contact-section .contact-body .main-form .box-1{ 
    width: 100%;
    display: flex;
    gap: 4rem;
    margin-top: 7rem;
    
    & input{
        width: 45%;
        height: 5rem;
        font-size: 1.6rem;
        font-weight: 500;
        padding-inline: 1rem;
        border: none;
        border: 1px solid rgba(0, 0, 0, 0.178);
        border-radius: .5rem;

        &:focus{
            outline: none;
            border: 1px solid #07eb3889;
        }
    }
}
.contact-section .contact-body .main-form .box-2{ 
    width: 100%;
    
    & input{
        width: 95%;
        height: 5rem;
        font-size: 1.6rem;
        font-weight: 500;
        padding-inline: 1rem;
        border: none;
        border: 1px solid rgba(0, 0, 0, 0.178);
        border-radius: .5rem;
        margin-block:3rem;

        &:focus{
            outline: none;
            border: 1px solid #07eb3889;
        }
    }
    & textarea{
        width: 95%;
        height: 25rem;
        font-size: 1.6rem;
        font-weight: 500;
        padding-inline: 1rem;
        padding-block: 1rem;
        border: none;
        border: 1px solid rgba(0, 0, 0, 0.178);
        border-radius: .5rem;
    

        &:focus{
            outline: none;
            border: 1px solid #07eb3889;
        }
    }
}

.footer-section{
    width: 100%;
    min-height: 70vh;
    background-color: black;
    position: relative;

   & .footer-body{
        max-width: 120rem;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 8rem;
        padding-top: 20rem;

        & .box{
            max-width: 20rem;
            color: white;
            /* border: 2px solid white; */
            
            & i{
                font-size: 1.6rem;
                font-weight: 600;
                padding-block: .8rem;
                padding-inline: 1rem;
            }
            & a{
                font-size: 1.4rem;
                
            }
        }
        & .question{
            max-width: 30rem;
            flex-grow: 2;
        }
        & .icon-box{
            /* border: 2px solid white; */
            width: 100%;
            margin: 0 auto;
            display: flex;
            gap: 2rem;
            margin-block: 5rem;

            & .icon{
                min-width: 6rem;
                height: 6rem;
                border: 1px solid rgba(255, 255, 255, 0.306);
                border-radius: 50%;
                display : grid;
                place-items : center;
                background-color: #777;
                border-radius : 30% 70% 70% 30% / 30% 30% 70% 70% ;
                animation: water-anime 4s linear infinite;
                cursor: pointer;
            
            & i{
                color: #e4e4e4;
                font-size: 3rem;
            }
           
        }
        }
        & .copy-right{
            width: 100%;
            text-align: center;
            color: var(--para-tint);
            font-size: 1.5rem;
            font-weight: 600;

            & p{
                margin: 0;
                padding: 0;
                padding-bottom: 4rem;
            }
        }

    }
}
 
.box h3{
    font-size: 1.6rem;
    color: var(--para-tint);
    padding-block: 4rem;
}
.box p{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--para-tint);
    line-height: 2rem;
}

/* Now we design a education section */



.education-box{
    position: absolute;
    min-width: 100rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    min-height: 50vh;
    margin-inline: 2rem;
    top: -27%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    transition: all .5s linear;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    & .text-section{
    & .details{
        & p{
            padding-top: 4rem;
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--paragraph);
        }
    }
    & .contact{
        & h3{
            font-size: 1.6rem;
            padding-block: 1rem;
        }
        & p{
            font-size: 1.4rem;
            font-weight: 500;
        }
    }
    
}
    & .image-section{

        width: 100%;
        height: 100%;
        display : grid;
        place-items : center;

        & img{
            width: 90%;
            height: 90%;
            border-radius: 1rem;
        }
    }
}




